
<h1><%= @place["name"] %></h1>

<h2><%= @post["title"] %>, </h2>

<h3><%= @post["posted_on"] %></h3>

<h4><%= @post["description"] %></h4>

<ul>
  <% for post in @posts %>
    <li>
      <%= post["title"] %>
      <%= post["posted_on"] %>
      <%= post["description"] %>
    </li>
  <% end %>
</ul>

<p>
  <a href="/post/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>
